body{
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
}
  .expareance{
    text-align: center;
    padding-top: 1000px;
    padding-bottom: 1100px;
   
    background-image: url(donate-today-main/images/donation3.jpg);
       background-image: width 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    bottom: 10px;
    background-size: cover;
    
}
.lind-button{
  text-decoration: none;
  background-image: linear-gradient(tomato,orange);
  padding: 10px 50px;
  border-radius: 15px;
  color: aliceblue;
  font-weight: 700px;
}
.middle{
  text-align: center;
}
.paragraph-middle{
  text-align: center;
}
.father{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: black;
 border-radius: 10%;
}
.children{
  height: 500px;
  width: 500px;
  background-color:darkgrey;
    margin:10px;
  align-items:center;
  display:flex;
  justify-content: center;
  border-radius: 15px;
}
#second-taka{
  background-color: rgb(212, 172, 172);
  border: 20px solid tomato;
}
.amount{
text-align:center;
}
u{
  width: 80%;
}
.link2{
  text-decoration: none;
  background-image: linear-gradient(tomato,red);
  border-radius: 15px;
 color: aliceblue;
 font-weight: 700px;
 padding: 10px 50px;
 margin-left: 43%;

 

 }
#second-fart{
  text-align: center;
 }
 .therd-fard{
 padding-left: 5%;
 }
 .food-shelter-education{
  display: flex;
   align-items: center;
  justify-content: center;
  height: 170%;
  width: 70%;
  margin-left: 15%;
  padding-left: 1%;
  border-radius: 15%;

 }
 #food{
  background-color: rgb(200, 238, 253);
  margin: 2%;
  border-radius: 15px;
  padding: 100px;
  padding-top: 250px;
  background-image: url(donate-today-main/icons/food.png);

   background-repeat: no-repeat;
background-size: 20%;

 }
 #shelter{
  background-color: rgb(248, 206, 213);
  margin: 2%;
  border-radius: 15px;
  padding: 100px;
  padding-top: 250px;
  background-image: url(donate-today-main/icons/shelter.png);
  background-repeat: no-repeat;
  background-size: 20%;
 }
 #education{
  background-color:moccasin;
  margin: 2%;
  border-radius: 15px;
  padding: 100px;
  padding-top: 250px;
  background-image:url(donate-today-main/icons/Frame-1.png);
  background-repeat: no-repeat;
  background-size: 20%;
 }
 #update{
  text-align: center;
 }
 .backcover{
 padding-top: 3%;
 padding-bottom: 3%;
 margin-left: 17%;
 margin-right: 17%;
  background-color: bisque;
    text-align: center;
 
 }
 .email{
   height: 80px;
  width: 30%;
  font-size: 60px;
 
 }
 .button{
      height: 80px;
  width: 20%;
  font-size: 60px;
  background-color: tomato;
  color: white;
 
 }
  footer{
  text-align: center;
  background-color: black;
  height: 600px;
  width: 100%;
  display: block;
  color:tomato;
  padding: top 4%;
 }
 #footer{
  color: darkgray;
  display: inline-block;
  padding-bottom: 150px;
   }
   .humble{
    padding-top: 150px;
   }
  
      