body{
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
}
  .expareance{
    text-align: center;
    padding-top: 1000px;
    padding-bottom: 1100px;
   
    background-image: url(donate-today-main/images/donation3.jpg);
       background-image: width 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    bottom: 10px;
    background-size: cover;
    
}
.lind-button{
  text-decoration: none;
  background-image: linear-gradient(tomato,orange);
  padding: 10px 50px;
  border-radius: 15px;
  color: aliceblue;
  font-weight: 700px;
}
.middle{
  text-align: center;
}
.paragraph-middle{
  text-align: center;
}
.father{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: black;
 border-radius: 10%;
}
.children{
  height: 500px;
  width: 500px;
  background-color:darkgrey;
    margin:10px;
  align-items:center;
  display:flex;
  justify-content: center;
  border-radius: 15px;
}
#second-taka{
  background-color: brown;
}
.amount{
text-align:center;
}
u{
  width: 80%;
}
.link2{
  text-decoration: none;
  background-image: linear-gradient(tomato,red);
  padding: 10px 50px;
  border-radius: 15px;
  color: aliceblue;
  font-weight: 700px;
 }
#second-fart{
  text-align: center;
 }
 .therd-fard{
 
 }
 .food-shelter-education{
  display: flex;
   align-items: center;
  justify-content: center;
  height: 150%;
  width: 70%;
  margin-left: 15%;
  padding-left: 1%;
  border-radius: 15%;

 }
 #food{
  background-color: rgb(200, 238, 253);
 }
 #shelter{
  background-color: rgb(248, 206, 213);
 }
 #education{
  background-color: rgb(228, 225, 221);
 }